/* Add here all your CSS customizations */

@font-face {
    font-family: 'distant_strokemedium';
    src: url('fonts/distant_stroke_medium-webfont.woff2') format('woff2'), url('fonts/distant_stroke_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title-cdp {
    font-family: 'distant_strokemedium' !important;
    font-weight: normal !important;
    font-style: normal !important;
    letter-spacing: 0 !important;
    font-size: 75px !important;
    line-height: 75px;
}

.fullcoveredvideo video {
    object-fit: none !important;
}

html .text-color-dark, html .text-dark {
    color: #212529 !important;
}

.home-intro .learn-more {
    margin-right: 15px;
}

.bg-primary {
    background-color: #AA8D59!important;
}